* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.bg-image{
    background-image: url('images/3.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 1px;
  }
body{
    background: #202939;
    margin: 0;
    font-family: Helvetica, Verdana, sans-serif;
}
.title{
    font-size:50px ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #248bcf;
}
.main{
    background: #131826;
    border: solid;
    border-color: #2b3445;
    border-radius:20px;
    display: block;
    height: 800px; ;
    margin: 110px 40px 10px 40px;
    padding: 10px 40px 40px 40px;
    background-color: rgba(0,0,0,.7);
}
.secondary{
    display: flex;
    height: 101.5%;
}
.videofeed{
    display: inline-block;
    flex-grow: 4;
    padding: 0px 0px 0px 20px;
}
video{
    border-radius: 20px;
    height: 725px;
}
.activity{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    height: 725px;
    padding: 0 35px 0 0;
}
.heading{
    color: #c46319;
    margin: 0px 0px 7px 20px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.btn{
    background-color: #202939;
    border: solid;
    border-color: #202939;
    border-radius: 20px;
    padding: 50px 50px 50px 50px;
    color: rgb(135, 205, 252);
    font-size: 20px;
    background-color: rgba(0,0,0,.7);
}

.btn:hover{
    border: solid;
    border-color: #347e4e;
    color: #57ce80;
}




  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: white;
    font-size: 16px;
    &.mask {
      top: 0px;
      mask-image: linear-gradient(black 70%, transparent);
      -webkit-mask-image: linear-gradient(black 70%, transparent);
    }
  
    @media (min-width: 640px) {
      padding: 16px 50px 30px 50px;
    }
  }
  nav.is-hidden {
    transform: translateY(-100%);
  }
  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    margin:10px;
  }
  a:hover{
    color: #57ce80;
  }
  .list {
    list-style-type: none;
    margin-left: auto;
    display: inline-block;
    padding: 10px;
    @media (min-width: 640px) {
      display: flex;
    }
    li {
      display: inline-block;
      margin:0 20px;
      padding:0 20px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  
  .logo{
    margin: -15px 0px 1px -20px;
    width: 150px;
  }
  
  .mask ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  .mask ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #57ce80;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
  }
  .mask ul li:hover::after{
    width: 100%;
    
  }





  /*===========================
      Synopsis Page Start
  ==============================*/






  .parent_synopsis_box{
    display: flex;
    margin: 150px 0 0 30px;
  }

  .primary_synopsis_box{
    margin: 0 30px 0 30px;
    padding:0 30px;
    background-image: url(images/Synopsis_box.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 130px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 110px;
    height: 700px;
    width: 1200px;
    backdrop-filter: blur(8px);
  }
  .scroll{
    overflow-x: hidden;
    overflow-y: auto;
  }

  .synopsis_content_box{
    margin: 16px 0px 0px 60px;
    height: 610px;
  }
  .synopsis_topic{
    height: 74px;
    width: 445px;
    color: rgb(223, 23, 33);
    padding:20px 0px 0px 0px;
    font-size: 40px;
    font-weight: 1000;
    font-style:italic bold;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 1px;
    text-align: center;
  }
  .synopsis_content{
    color: antiquewhite;
    margin: 30px 40px 0px 10px;
    padding:10px 40px 10px 10px;
    height: 510px;
    border-radius: 20px;
    scrollbar-color: rgb(250, 59, 59);
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .synopsis_content::-webkit-scrollbar {
    width: 10px;
  }
  .synopsis_content::-webkit-scrollbar-thumb{
      background-image: linear-gradient(180deg, #fa4949 0%, #3694ec 99%);
      box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
      border-radius: 100px;
  }
  .synopsis_content::-webkit-scrollbar-track {
    background: #40c6e72a;
    border-radius: 100px;
  }
  .synopsis_content::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, #f10808 0%, #2261be 99%);
      border-radius: 100px;
  }

  .center{
    padding-top:50px ;
    text-align: center;
  }
  .blue{
    color: #57b1ec;
  }
  .light{
    color: #ff8484;
  }
  .hide{
    display: none;
  }
  .secondary_synopsis_box{
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    margin: 65px 60px;
    padding:0 10px;
  }
  .synopsis_button{
    border: none;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.164);
    transition: 0.2s;
  }
  .synopsis_button:hover{
    border: none;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.164);
    font-size: 16px;
  }
  .secondary_synopsis_box_btn1{
    background-image: url(images/Synopsis_btn_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:110px;
    width: 225px;
    margin:10px 40px 10px 0px;
    color: antiquewhite;
    padding: 40px 40px;
    backdrop-filter: blur(7px);
  }
  
  .secondary_synopsis_box_btn2{
    background-image: url(images/Synopsis_btn_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:90px;
    width: 225px;
    margin:10px 0px 10px 0px;
    color: antiquewhite;
    padding: 40px 50px;
    backdrop-filter: blur(7px);
  }
  .secondary_synopsis_box_btn3{
    background-image: url(images/Synopsis_btn_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:95px;
    width: 225px;
    margin:10px 40px 10px 0px;
    color: antiquewhite;
    padding: 40px 70px;
    backdrop-filter: blur(5px);
  }
  .secondary_synopsis_box_btn4{
    background-image: url(images/Synopsis_btn_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:90px;
    width: 225px;
    margin:10px 0px 10px 0px;
    color: antiquewhite;
    padding: 40px 80px;
    backdrop-filter: blur(7px);
  }
  .secondary_synopsis_box_btn5{
    background-image: url(images/Synopsis_btn_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:90px;
    width: 225px;
    margin:10px 40px 10px 0px;
    color: antiquewhite;
    padding: 30px 50px; 
    text-align: center;
    backdrop-filter: blur(7px);
  }
  .secondary_synopsis_box_btn6{
    background-image: url(images/Synopsis_btn_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:95px;
    width: 225px;
    margin:10px 0px 10px 0px;
    color: antiquewhite;
    padding: 30px 45px;
    text-align: center;
    backdrop-filter: blur(7px);
  }
  .secondary_synopsis_box_btn7{
    background-image: url(images/Synopsis_btn_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:110px;
    width: 225px;
    margin:10px 40px 10px 0px;
    color: antiquewhite;
    padding: 40px 60px;
    backdrop-filter: blur(7px);
  }
  .secondary_synopsis_box_btn8{
    background-image: url(images/Synopsis_btn_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:90px;
    width: 225px;
    margin:10px 0px 10px 0px;
    color: antiquewhite;
    padding: 40px 60px;
    backdrop-filter: blur(7px);
  }

  .secondary_synopsis_box_btn1:hover{
    color: rgb(255, 57, 57);
    background-image:
    linear-gradient(rgba(255, 114, 114, 0.158), rgba(255, 201, 201, 0.075)),
    url(images/Synopsis_btn_1.png);
  }.secondary_synopsis_box_btn2:hover{
    color: rgb(255, 57, 57);
    background-image:
    linear-gradient(rgba(255, 114, 114, 0.158), rgba(255, 201, 201, 0.075)),
    url(images/Synopsis_btn_4.png);
  }.secondary_synopsis_box_btn3:hover{
    color: rgb(255, 57, 57);
    background-image:
    linear-gradient(rgba(255, 114, 114, 0.158), rgba(255, 201, 201, 0.075)),
    url(images/Synopsis_btn_3.png);
  }.secondary_synopsis_box_btn4:hover{
    color: rgb(255, 57, 57);
    background-image:
    linear-gradient(rgba(255, 114, 114, 0.158), rgba(255, 201, 201, 0.075)),
    url(images/Synopsis_btn_4.png);
  }.secondary_synopsis_box_btn5:hover{
    color: rgb(255, 57, 57);
    background-image:
    linear-gradient(rgba(255, 114, 114, 0.158), rgba(255, 201, 201, 0.075)),
    url(images/Synopsis_btn_4.png);
  }.secondary_synopsis_box_btn6:hover{
    color: rgb(255, 57, 57);
    background-image:
    linear-gradient(rgba(255, 114, 114, 0.158), rgba(255, 201, 201, 0.075)),
    url(images/Synopsis_btn_3.png);
  }.secondary_synopsis_box_btn7:hover{
    color: rgb(255, 57, 57);
    background-image:
    linear-gradient(rgba(255, 114, 114, 0.158), rgba(255, 201, 201, 0.075)),
    url(images/Synopsis_btn_1.png);
  }.secondary_synopsis_box_btn8:hover{
    color: rgb(255, 57, 57);
    background-image:
    linear-gradient(rgba(255, 114, 114, 0.158), rgba(255, 201, 201, 0.075)),
    url(images/Synopsis_btn_4.png);
  }





  /*===========================
            Contact US Page
  =============================*/




  .layer1{
    margin: 25vh 30vh;
    height: 60vh;
    background-color: #131826;
    opacity: 0.93;
    border-radius: 2vh;
    display: flex;
  }
  .primary_block{
    height: 60vh;
    width: 60%;
    background-color: #2261be;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
  }
  .primary_block_2{
    border: solid white;
    border-right: none;
    margin: 5vh 0 5vh 7vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
  .contact_title{
    color: white;
    margin: -2.5vh 0vh 0vh 20vh;
    width: fit-content;
    padding: 0 3vh;
    background-color: #2261be;
    font-size: 4vh;
    font-weight: bold;
  }

  .contact-form {
    position: relative;
    padding: 2vh 15vh;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1500;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .message_btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .message_btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #2261be;;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
    color: #ffe9d8;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  
  @media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }

    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .message_btn {
      padding: 0.45rem 1.2rem;
    }
  }

  .secondary_block_2{
    border: solid #15bdff;
    border-left: none;
    margin: 5vh 7vh 5vh 0vh;
    height: 50vh;
  }

  .secondary_block{
    height: 60vh;
    width: 40%;
    background-color: #ffffff;
    opacity: 0.9;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    background-image: url(images/AIT.jpg);
    background-position: center;
    background-image: cover;
    background-repeat: no-repeat;
  }

  .ait{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: transparent;
    font-size: 7vh;
    letter-spacing: 0.6px;
    display: flex;
    padding: 0 7vh;
    -webkit-text-stroke: rgb(40, 154, 199) 3px;
    text-shadow: #ffffffd2 1px 0 5px;

  }


  /*============== 
  Drone sending
  ==================*/

  